.warn {
    height: 5px;
    color: red;
    margin-top: 0px;
    margin-bottom: 9px;
    font-size: 10px;
    display: none;
    float: right;
}


     #cal-1, #cal-2 {
          margin-left: 12px;
          margin-top: 10px;
        }
        .icon-button {
          width: 30px;
        }
        input {
          width: 243px;
          margin-bottom: 8px;
        }

.loginForm .input-field .prefix ~ input{
    margin-right:3rem;
    font-family: DroidArabicKufiRegular !important;
    font-size: 15px;
}

#modal2, #myModal{    margin-top: 100px;}
/*Alia Edit style*/
#FooterFixed{
    box-shadow: 3px 3px #cccccc, -1em 0 0.4em #c1c1c1;
}
.textContact {
    font-family: DroidKufi-Regular;
    margin-bottom: 10px;
    margin-top: 15px;
}
.Join-1{
    margin-bottom: 0;
}
.margin-bottom{
    margin-bottom: 80px;
}
.padding-60 {
    padding-bottom: 44px !imporant;
}
.Amount{
   color: red; 
    font-weight: 500;
    font-size: 22px;
    padding-left: 10px;
}
.addnew{
        padding-left: 23px;
    padding-top: 10px;
    padding-right: 11px;
    direction: rtl;
    float: left;+
}
.cart2{
    margin-bottom: -48px;
}
.padding-60 {
    padding-bottom: 57px;
}
.sec-space-bottom-2 {
    padding-bottom: 34px;
}
.price span{
    float: none
}
.side-nav .user-view .name{
        margin-top: 71px;
}
.product-media{
        height: 139px;
}
.product-box {
    margin: 10px auto auto;
}
.desc label{
    font-size: 13px !important;
}
.list-view .deal-text {
   
    padding-top: 0px;
}
.TextWrapper{
   text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    height: 1.5em;
    white-space: nowrap;
    direction: rtl;
}
.Cart{
        width: 39px;
    left: 8px;
    float: left;
    position: absolute;
    top: 108px;
}
.modal .modal-content{
    padding: 0;
}
.alertText{
        margin-top: 15px;
}
.Confirm-1{
        width: 50%;
    padding-top: 60px;
    margin-right: 25%;
    margin-left: 25%;
    padding-bottom: 60px;
    opacity: 1.5;
}
.single-caption{
    text-align: right
}
.meta-2{
        margin-left: 0;
    padding-right: 0;
        margin-bottom: 0px;
}
/* .product-content .meta-2 li > strong {
    display: inline-block;
    width: 100%;
} */
.modal-footer2{
    text-align: center !important;
}
.CancelBTN{
        padding-left: 70px;
    padding-right: 70px;
}
.MB-50{
        margin-bottom: 54px;
}
.icon{
    width: 25px;
    padding-left: 5px;
}
.product-content .meta > li {
    padding: 4px 0;
}
.contact-form{
    padding-bottom: 0
}

 .TabsHeight{
        height: 100px !important;
    }
    .TabsHeight li a{
        height: 100px !important;
    }
    #loginGuest{
        margin-top: 20px;
    }



    .count-input2  {
        align-content: normal;
        align-items: normal;
        align-self: auto;
        alignment-baseline: auto;
        all: ;
        animation-delay: 0s;
        animation-direction: normal;
        animation-duration: 0s;
        animation-fill-mode: none;
        animation-iteration-count: 1;
        animation-name: none;
        animation-play-state: running;
        animation-timing-function: ease;
        backface-visibility: visible;
        background-attachment: scroll;
        background-blend-mode: normal;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat-x: ;
        background-repeat-y: ;
        background-size: auto;
        baseline-shift: 0px;
        block-size: 62px;
        border-bottom-color: rgb(47, 200, 63);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-collapse: separate;
        border-image-outset: 0px;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(47, 200, 63);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(47, 200, 63);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(47, 200, 63);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top-style: none;
        border-top-width: 0px;
        bottom: 0px;
        box-shadow: none;
        box-sizing: border-box;
        break-after: auto;
        break-before: auto;
        break-inside: auto;
        buffered-rendering: auto;
        caption-side: top;
        caret-color: rgb(47, 200, 63);
        clear: none;
        clip: auto;
        clip-path: none;
        clip-rule: nonzero;
        color: rgb(47, 200, 63);
        color-interpolation: sRGB;
        color-interpolation-filters: linearRGB;
        color-rendering: auto;
        column-count: auto;
        column-fill: balance;
        column-gap: normal;
        column-rule-color: rgb(47, 200, 63);
        column-rule-style: none;
        column-rule-width: 0px;
        column-span: none;
        column-width: auto;
        contain: none;
        content: ;
        counter-increment: none;
        counter-reset: none;
        cursor: auto;
        cx: 0px;
        cy: 0px;
        d: none;
        direction: ltr;
        display: block;
        dominant-baseline: auto;
        empty-cells: show;
        fill: rgb(0, 0, 0);
        fill-opacity: 1;
        fill-rule: nonzero;
        filter: none;
        flex-basis: auto;
        flex-direction: row;
        flex-grow: 0;
        flex-shrink: 1;
        flex-wrap: nowrap;
        float: none;
        flood-color: rgb(0, 0, 0);
        flood-opacity: 1;
        font-family: DroidKufi-RegularEN;
        font-feature-settings: normal;
        font-kerning: auto;
        font-size: 14px;
        font-stretch: 100%;
        font-style: normal;
        font-variant-caps: normal;
        font-variant-east-asian: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
        font-variation-settings: normal;
        font-weight: 400;
        grid-auto-columns: auto;
        grid-auto-flow: row;
        grid-auto-rows: auto;
        grid-column-end: auto;
        grid-column-gap: 0px;
        grid-column-start: auto;
        grid-row-end: auto;
        grid-row-gap: 0px;
        grid-row-start: auto;
        grid-template-areas: none;
        grid-template-columns: none;
        grid-template-rows: none;
        height: 62px;
        hyphens: manual;
        image-rendering: auto;
        inline-size: 142.5px;
        isolation: auto;
        justify-content: normal;
        justify-items: normal;
        justify-self: auto;
        left: 0px;
        letter-spacing: normal;
        lighting-color: rgb(255, 255, 255);
        line-break: auto;
        line-height: 20px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: disc;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        marker-end: none;
        marker-mid: none;
        marker-start: none;
        mask: none;
        mask-type: luminance;
        max-block-size: none;
        max-height: none;
        max-inline-size: none;
        max-width: none;
        min-block-size: 0px;
        min-height: 0px;
        min-inline-size: 0px;
        min-width: 0px;
        mix-blend-mode: normal;
        object-fit: fill;
        object-position: 50% 50%;
        offset-distance: 0px;
        offset-path: none;
        offset-rotate: auto 0deg;
        opacity: 1;
        order: 0;
        orphans: 2;
        outline-color: rgb(47, 200, 63);
        outline-offset: 0px;
        outline-style: none;
        outline-width: 0px;
        overflow-anchor: auto;
        overflow-wrap: normal;
        overflow-x: visible;
        overflow-y: visible;
        overscroll-behavior-x: auto;
        overscroll-behavior-y: auto;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        page: ;
        paint-order: fill stroke markers;
        perspective: none;
        perspective-origin: 71.25px 31px;
        pointer-events: auto;
        position: relative;
        quotes: ;
        r: 0px;
        resize: none;
        right: 0px;
        rx: auto;
        ry: auto;
        scroll-behavior: auto;
        shape-image-threshold: 0;
        shape-margin: 0px;
        shape-outside: none;
        shape-rendering: auto;
        size: ;
        speak: normal;
        stop-color: rgb(0, 0, 0);
        stop-opacity: 1;
        stroke: none;
        stroke-dasharray: none;
        stroke-dashoffset: 0px;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        stroke-miterlimit: 4;
        stroke-opacity: 1;
        stroke-width: 1px;
        tab-size: 8;
        table-layout: auto;
        text-align: start;
        text-align-last: auto;
        text-anchor: start;
        text-combine-upright: none;
        text-decoration-color: rgb(47, 200, 63);
        text-decoration-line: none;
        text-decoration-skip-ink: auto;
        text-decoration-style: solid;
        text-indent: 0px;
        text-orientation: mixed;
        text-overflow: clip;
        text-rendering: auto;
        text-shadow: none;
        text-size-adjust: 100%;
        text-transform: none;
        text-underline-position: auto;
        top: 0px;
        touch-action: auto;
        transform: none;
        transform-box: view-box;
        transform-origin: 71.25px 31px;
        transform-style: flat;
        transition-delay: 0s;
        transition-duration: 0.4s;
        transition-property: all;
        transition-timing-function: ease-in-out;
        unicode-bidi: normal;
        user-select: auto;
        vector-effect: none;
        vertical-align: baseline;
        visibility: visible;
        white-space: normal;
        widows: 2;
        width: 142.5px;
        will-change: auto;
        word-break: normal;
        word-spacing: 0px;
        word-wrap: normal;
        writing-mode: horizontal-tb;
        x: 0px;
        y: 0px;
        z-index: auto;
        zoom: 1;
        -webkit-app-region: no-drag;
        -webkit-appearance: none;
        -webkit-border-after-color: rgb(47, 200, 63);
        -webkit-border-after-style: none;
        -webkit-border-after-width: 0px;
        -webkit-border-before-color: rgb(47, 200, 63);
        -webkit-border-before-style: none;
        -webkit-border-before-width: 0px;
        -webkit-border-end-color: rgb(47, 200, 63);
        -webkit-border-end-style: none;
        -webkit-border-end-width: 0px;
        -webkit-border-horizontal-spacing: 0px;
        -webkit-border-start-color: rgb(47, 200, 63);
        -webkit-border-start-style: none;
        -webkit-border-start-width: 0px;
        -webkit-border-vertical-spacing: 0px;
        -webkit-box-align: stretch;
        -webkit-box-decoration-break: slice;
        -webkit-box-direction: normal;
        -webkit-box-flex: 0;
        -webkit-box-flex-group: 1;
        -webkit-box-lines: single;
        -webkit-box-ordinal-group: 1;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: start;
        -webkit-box-reflect: none;
        -webkit-font-size-delta: ;
        -webkit-font-smoothing: antialiased;
        -webkit-highlight: none;
        -webkit-hyphenate-character: auto;
        -webkit-line-clamp: none;
        -webkit-locale: "en";
        -webkit-logical-height: 62px;
        -webkit-logical-width: 142.5px;
        -webkit-margin-after: 0px;
        -webkit-margin-after-collapse: collapse;
        -webkit-margin-before: 0px;
        -webkit-margin-before-collapse: collapse;
        -webkit-margin-bottom-collapse: collapse;
        -webkit-margin-end: 0px;
        -webkit-margin-start: 0px;
        -webkit-margin-top-collapse: collapse;
        -webkit-mask-box-image-outset: 0px;
        -webkit-mask-box-image-repeat: stretch;
        -webkit-mask-box-image-slice: 0 fill;
        -webkit-mask-box-image-source: none;
        -webkit-mask-box-image-width: auto;
        -webkit-mask-clip: border-box;
        -webkit-mask-composite: source-over;
        -webkit-mask-image: none;
        -webkit-mask-origin: border-box;
        -webkit-mask-position-x: 0%;
        -webkit-mask-position-y: 0%;
        -webkit-mask-repeat-x: ;
        -webkit-mask-repeat-y: ;
        -webkit-mask-size: auto;
        -webkit-max-logical-height: none;
        -webkit-max-logical-width: none;
        -webkit-min-logical-height: 0px;
        -webkit-min-logical-width: 0px;
        -webkit-padding-after: 0px;
        -webkit-padding-before: 0px;
        -webkit-padding-end: 0px;
        -webkit-padding-start: 0px;
        -webkit-perspective-origin-x: ;
        -webkit-perspective-origin-y: ;
        -webkit-print-color-adjust: economy;
        -webkit-rtl-ordering: logical;
        -webkit-ruby-position: before;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-text-combine: none;
        -webkit-text-decorations-in-effect: none;
        -webkit-text-emphasis-color: rgb(47, 200, 63);
        -webkit-text-emphasis-position: over right;
        -webkit-text-emphasis-style: none;
        -webkit-text-fill-color: rgb(47, 200, 63);
        -webkit-text-security: none;
        -webkit-text-stroke-color: rgb(47, 200, 63);
        -webkit-text-stroke-width: 0px;
        -webkit-transform-origin-x: ;
        -webkit-transform-origin-y: ;
        -webkit-transform-origin-z: ;
        -webkit-user-drag: auto;
        -webkit-user-modify: read-only;
        -webkit-border-image: none;
        -webkit-text-orientation: vertical-right;
    }
    .incr-btnD {
        align-items: normal;
        align-self: auto;
        alignment-baseline: auto;
        all: ;
        animation-delay: 0s;
        animation-direction: normal;
        animation-duration: 0s;
        animation-fill-mode: none;
        animation-iteration-count: 1;
        animation-name: none;
        animation-play-state: running;
        animation-timing-function: ease;
        backface-visibility: visible;
        background-attachment: scroll;
        background-blend-mode: normal;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        transparenta transparenta background-image: none;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat-x: ;
        background-repeat-y: ;
        background-size: auto;
        baseline-shift: 0px;
        block-size: 30px;
        border-bottom-color: rgb(255, 255, 255);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-collapse: separate;
        border-image-outset: 0px;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(255, 255, 255);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(255, 255, 255);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(255, 255, 255);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top-style: none;
        border-top-width: 0px;
        bottom: 28.4062px;
        box-shadow: none;
        box-sizing: border-box;
        break-after: auto;
        break-before: auto;
        break-inside: auto;
        buffered-rendering: auto;
        caption-side: top;
        caret-color: rgb(255, 255, 255);
        clear: none;
        clip: auto;
        clip-path: none;
        clip-rule: nonzero;
        color: rgb(255, 255, 255);
        color-interpolation: sRGB;
        color-interpolation-filters: linearRGB;
        color-rendering: auto;
        column-count: auto;
        column-fill: balance;
        column-gap: normal;
        column-rule-color: rgb(255, 255, 255);
        column-rule-style: none;
        column-rule-width: 0px;
        column-span: none;
        column-width: auto;
        contain: none;
        content: ;
        counter-increment: none;
        counter-reset: none;
        cursor: pointer;
        cx: 0px;
        cy: 0px;
        d: none;
        direction: ltr;
        display: block;
        dominant-baseline: auto;
        empty-cells: show;
        fill: rgb(0, 0, 0);
        fill-opacity: 1;
        fill-rule: nonzero;
        filter: none;
        flex-basis: auto;
        flex-direction: row;
        flex-grow: 0;
        flex-shrink: 1;
        flex-wrap: nowrap;
        float: none;
        flood-color: rgb(0, 0, 0);
        flood-opacity: 1;
        font-family: DroidKufi-RegularEN;
        font-feature-settings: normal;
        font-kerning: auto;
        font-size: 26px;
        font-stretch: 100%;
        font-style: normal;
        font-variant-caps: normal;
        font-variant-east-asian: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
        font-variation-settings: normal;
        font-weight: 300;
        grid-auto-columns: auto;
        grid-auto-flow: row;
        grid-auto-rows: auto;
        grid-column-end: auto;
        grid-column-gap: 0px;
        grid-column-start: auto;
        grid-row-end: auto;
        grid-row-gap: 0px;
        grid-row-start: auto;
        grid-template-areas: none;
        grid-template-columns: none;
        grid-template-rows: none;
        height: 30px;
        hyphens: manual;
        image-rendering: auto;
        inline-size: 30px;
        isolation: auto;
        justify-content: normal;
        justify-items: normal;
        justify-self: auto;
        left: 0px;
        letter-spacing: normal;
        lighting-color: rgb(255, 255, 255);
        line-break: auto;
        line-height: 30px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: disc;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: -15px;
        marker-end: none;
        marker-mid: none;
        marker-start: none;
        mask: none;
        mask-type: luminance;
        max-block-size: none;
        max-height: none;
        max-inline-size: none;
        max-width: none;
        min-block-size: 0px;
        min-height: 0px;
        min-inline-size: 0px;
        min-width: 0px;
        mix-blend-mode: normal;
        object-fit: fill;
        object-position: 50% 50%;
        offset-distance: 0px;
        offset-path: none;
        offset-rotate: auto 0deg;
        opacity: 1;
        order: 0;
        orphans: 2;
        outline-color: rgb(255, 255, 255);
        outline-offset: 0px;
        outline-style: none;
        outline-width: 0px;
        overflow-anchor: auto;
        overflow-wrap: normal;
        overflow-x: visible;
        overflow-y: visible;
        overscroll-behavior-x: auto;
        overscroll-behavior-y: auto;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        page: ;
        paint-order: fill stroke markers;
        perspective: none;
        perspective-origin: 15px 15px;
        pointer-events: auto;
        position: absolute;
        quotes: ;
        r: 0px;
        resize: none;
        right: 112.5px;
        rx: auto;
        ry: auto;
        scroll-behavior: auto;
        shape-image-threshold: 0;
        shape-margin: 0px;
        shape-outside: none;
        shape-rendering: auto;
        size: ;
        speak: normal;
        stop-color: rgb(0, 0, 0);
        stop-opacity: 1;
        stroke: none;
        stroke-dasharray: none;
        stroke-dashoffset: 0px;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        stroke-miterlimit: 4;
        stroke-opacity: 1;
        stroke-width: 1px;
        tab-size: 8;
        table-layout: auto;
        text-align: center;
        text-align-last: auto;
        text-anchor: start;
        text-combine-upright: none;
        text-decoration-color: rgb(255, 255, 255);
        text-decoration-line: none;
        text-decoration-skip-ink: auto;
        text-decoration-style: solid;
        text-indent: 0px;
        text-orientation: mixed;
        text-overflow: clip;
        text-rendering: auto;
        text-shadow: none;
        text-size-adjust: 100%;
        text-transform: none;
        text-underline-position: auto;
        top: 18.5938px;
        touch-action: auto;
        transform: none;
        transform-box: view-box;
        transform-origin: 15px 15px;
        transform-style: flat;
        transition-delay: 0s;
        transition-duration: 0.4s;
        transition-property: all;
        transition-timing-function: ease-in-out;
        unicode-bidi: normal;
        user-select: auto;
        vector-effect: none;
        vertical-align: baseline;
        visibility: visible;
        white-space: normal;
        widows: 2;
        width: 30px;
        will-change: auto;
        word-break: normal;
        word-spacing: 0px;
        word-wrap: normal;
        writing-mode: horizontal-tb;
        x: 0px;
        y: 0px;
        z-index: auto;
        zoom: 1;
        -webkit-app-region: no-drag;
        -webkit-appearance: none;
        -webkit-border-after-color: rgb(255, 255, 255);
        -webkit-border-after-style: none;
        -webkit-border-after-width: 0px;
        -webkit-border-before-color: rgb(255, 255, 255);
        -webkit-border-before-style: none;
        -webkit-border-before-width: 0px;
        -webkit-border-end-color: rgb(255, 255, 255);
        -webkit-border-end-style: none;
        -webkit-border-end-width: 0px;
        -webkit-border-horizontal-spacing: 0px;
        -webkit-border-start-color: rgb(255, 255, 255);
        -webkit-border-start-style: none;
        -webkit-border-start-width: 0px;
        -webkit-border-vertical-spacing: 0px;
        -webkit-box-align: stretch;
        -webkit-box-decoration-break: slice;
        -webkit-box-direction: normal;
        -webkit-box-flex: 0;
        -webkit-box-flex-group: 1;
        -webkit-box-lines: single;
        -webkit-box-ordinal-group: 1;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: start;
        -webkit-box-reflect: none;
        -webkit-font-size-delta: ;
        -webkit-font-smoothing: antialiased;
        -webkit-highlight: none;
        -webkit-hyphenate-character: auto;
        -webkit-line-clamp: none;
        -webkit-locale: "en";
        -webkit-logical-height: 30px;
        -webkit-logical-width: 30px;
        -webkit-margin-after: 0px;
        -webkit-margin-after-collapse: collapse;
        -webkit-margin-before: -15px;
        -webkit-margin-before-collapse: collapse;
        -webkit-margin-bottom-collapse: collapse;
        -webkit-margin-end: 0px;
        -webkit-margin-start: 0px;
        -webkit-margin-top-collapse: collapse;
        -webkit-mask-box-image-outset: 0px;
        -webkit-mask-box-image-repeat: stretch;
        -webkit-mask-box-image-slice: 0 fill;
        -webkit-mask-box-image-source: none;
        -webkit-mask-box-image-width: auto;
        -webkit-mask-clip: border-box;
        -webkit-mask-composite: source-over;
        -webkit-mask-image: none;
        -webkit-mask-origin: border-box;
        -webkit-mask-position-x: 0%;
        -webkit-mask-position-y: 0%;
        -webkit-mask-repeat-x: ;
        -webkit-mask-repeat-y: ;
        -webkit-mask-size: auto;
        -webkit-max-logical-height: none;
        -webkit-max-logical-width: none;
        -webkit-min-logical-height: 0px;
        -webkit-min-logical-width: 0px;
        -webkit-padding-after: 0px;
        -webkit-padding-before: 0px;
        -webkit-padding-end: 0px;
        -webkit-padding-start: 0px;
        -webkit-perspective-origin-x: ;
        -webkit-perspective-origin-y: ;
        -webkit-print-color-adjust: economy;
        -webkit-rtl-ordering: logical;
        -webkit-ruby-position: before;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-text-combine: none;
        -webkit-text-decorations-in-effect: none;
        -webkit-text-emphasis-color: rgb(255, 255, 255);
        -webkit-text-emphasis-position: over right;
        -webkit-text-emphasis-style: none;
        -webkit-text-fill-color: rgb(255, 255, 255);
        -webkit-text-security: none;
        -webkit-text-stroke-color: rgb(255, 255, 255);
        -webkit-text-stroke-width: 0px;
        -webkit-transform-origin-x: ;
        -webkit-transform-origin-y: ;
        -webkit-transform-origin-z: ;
        -webkit-user-drag: auto;
        -webkit-user-modify: read-only;
        -webkit-border-image: none;
        -webkit-text-orientation: vertical-right;
    }
    
    .incr-btn {
        align-items : normal;
        align-self : auto;
        alignment-baseline : auto;
        all :;
        animation-delay : 0s;
        animation-direction : normal;
        animation-duration : 0s;
        animation-fill-mode : none;
        animation-iteration-count : 1;
        animation-name : none;
        animation-play-state : running;
        animation-timing-function : ease;
        backface-visibility : visible;
        background-attachment : scroll;
        background-blend-mode : normal;
        background-clip : border-box;
        background-color : rgba(0, 0, 0, 0);
        transparenta transparenta background-image : none;
        background-origin : padding-box;
        background-position-x : 0%;
        background-position-y : 0%;
        background-repeat-x :;
        background-repeat-y :;
        background-size : auto;
        baseline-shift : 0px;
        block-size : 30px;
        border-bottom-color : rgb(255, 255, 255);
        border-bottom-left-radius : 0px;
        border-bottom-right-radius : 0px;
        border-bottom-style : none;
        border-bottom-width : 0px;
        border-collapse : separate;
        border-image-outset : 0px;
        border-image-repeat : stretch;
        border-image-slice : 100%;
        border-image-source : none;
        border-image-width : 1;
        border-left-color : rgb(255, 255, 255);
        border-left-style : none;
        border-left-width : 0px;
        border-right-color : rgb(255, 255, 255);
        border-right-style : none;
        border-right-width : 0px;
        border-top-color : rgb(255, 255, 255);
        border-top-left-radius : 0px;
        border-top-right-radius : 0px;
        border-top-style : none;
        border-top-width : 0px;
        bottom : 25.3125px;
        box-shadow : none;
        box-sizing : border-box;
        break-after : auto;
        break-before : auto;
        break-inside : auto;
        buffered-rendering : auto;
        caption-side : top;
        caret-color : rgb(255, 255, 255);
        clear : none;
        clip : auto;
        clip-path : none;
        clip-rule : nonzero;
        color : rgb(255, 255, 255);
        color-interpolation : sRGB;
        color-interpolation-filters : linearRGB;
        color-rendering : auto;
        column-count : auto;
        column-fill : balance;
        column-gap : normal;
        column-rule-color : rgb(255, 255, 255);
        column-rule-style : none;
        column-rule-width : 0px;
        column-span : none;
        column-width : auto;
        contain : none;
        content :;
        counter-increment : none;
        counter-reset : none;
        cursor : pointer;
        cx : 0px;
        cy : 0px;
        d : none;
        direction : ltr;
        display : block;
        dominant-baseline : auto;
        empty-cells : show;
        fill : rgb(0, 0, 0);
        fill-opacity : 1;
        fill-rule : nonzero;
        filter : none;
        flex-basis : auto;
        flex-direction : row;
        flex-grow : 0;
        flex-shrink : 1;
        flex-wrap : nowrap;
        float : none;
        flood-color : rgb(0, 0, 0);
        flood-opacity : 1;
        font-family : DroidKufi-RegularEN;
        font-feature-settings : normal;
        font-kerning : auto;
        font-size : 26px;
        font-stretch : 100%;
        font-style : normal;
        font-variant-caps : normal;
        font-variant-east-asian : normal;
        font-variant-ligatures : normal;
        font-variant-numeric : normal;
        font-variation-settings : normal;
        font-weight : 300;
        grid-auto-columns : auto;
        grid-auto-flow : row;
        grid-auto-rows : auto;
        grid-column-end : auto;
        grid-column-gap : 0px;
        grid-column-start : auto;
        grid-row-end : auto;
        grid-row-gap : 0px;
        grid-row-start : auto;
        grid-template-areas : none;
        grid-template-columns : none;
        grid-template-rows : none;
        height : 30px;
        hyphens : manual;
        image-rendering : auto;
        inline-size : 30px;
        isolation : auto;
        justify-content : normal;
        justify-items : normal;
        justify-self : auto;
        left : 112.5px;
        letter-spacing : normal;
        lighting-color : rgb(255, 255, 255);
        line-break : auto;
        line-height : 30px;
        list-style-image : none;
        list-style-position : outside;
        list-style-type : disc;
        margin-bottom : 0px;
        margin-left : 0px;
        margin-right : 0px;
        margin-top : -15px;
        marker-end : none;
        marker-mid : none;
        marker-start : none;
        mask : none;
        mask-type : luminance;
        max-block-size : none;
        max-height : none;
        max-inline-size : none;
        max-width : none;
        min-block-size : 0px;
        min-height : 0px;
        min-inline-size : 0px;
        min-width : 0px;
        mix-blend-mode : normal;
        object-fit : fill;
        object-position : 50% 50%;
        offset-distance : 0px;
        offset-path : none;
        offset-rotate : auto 0deg;
        opacity : 1;
        order : 0;
        orphans : 2;
        outline-color : rgb(255, 255, 255);
        outline-offset : 0px;
        outline-style : none;
        outline-width : 0px;
        overflow-anchor : auto;
        overflow-wrap : normal;
        overflow-x : visible;
        overflow-y : visible;
        overscroll-behavior-x : auto;
        overscroll-behavior-y : auto;
        padding-bottom : 0px;
        padding-left : 0px;
        padding-right : 0px;
        padding-top : 0px;
        page :;
        paint-order : fill stroke markers;
        perspective : none;
        perspective-origin : 15px 15px;
        pointer-events : auto;
        position : absolute;
        quotes :;
        r : 0px;
        resize : none;
        right : 0px;
        rx : auto;
        ry : auto;
        scroll-behavior : auto;
        shape-image-threshold : 0;
        shape-margin : 0px;
        shape-outside : none;
        shape-rendering : auto;
        size :;
        speak : normal;
        stop-color : rgb(0, 0, 0);
        stop-opacity : 1;
        stroke : none;
        stroke-dasharray : none;
        stroke-dashoffset : 0px;
        stroke-linecap : butt;
        stroke-linejoin : miter;
        stroke-miterlimit : 4;
        stroke-opacity : 1;
        stroke-width : 1px;
        tab-size : 8;
        table-layout : auto;
        text-align : center;
        text-align-last : auto;
        text-anchor : start;
        text-combine-upright : none;
        text-decoration-color : rgb(255, 255, 255);
        text-decoration-line : none;
        text-decoration-skip-ink : auto;
        text-decoration-style : solid;
        text-indent : 0px;
        text-orientation : mixed;
        text-overflow : clip;
        text-rendering : auto;
        text-shadow : none;
        text-size-adjust : 100%;
        text-transform : none;
        text-underline-position : auto;
        top : 21.6875px;
        touch-action : auto;
        transform : none;
        transform-box : view-box;
        transform-origin : 15px 15px;
        transform-style : flat;
        transition-delay : 0s;
        transition-duration : 0.4s;
        transition-property : all;
        transition-timing-function : ease-in-out;
        unicode-bidi : normal;
        user-select : auto;
        vector-effect : none;
        vertical-align : baseline;
        visibility : visible;
        white-space : normal;
        widows : 2;
        width : 30px;
        will-change : auto;
        word-break : normal;
        word-spacing : 0px;
        word-wrap : normal;
        writing-mode : horizontal-tb;
        x : 0px;
        y : 0px;
        z-index : auto;
        zoom : 1;
        -webkit-app-region : no-drag;
        -webkit-appearance : none;
        -webkit-border-after-color : rgb(255, 255, 255);
        -webkit-border-after-style : none;
        -webkit-border-after-width : 0px;
        -webkit-border-before-color : rgb(255, 255, 255);
        -webkit-border-before-style : none;
        -webkit-border-before-width : 0px;
        -webkit-border-end-color : rgb(255, 255, 255);
        -webkit-border-end-style : none;
        -webkit-border-end-width : 0px;
        -webkit-border-horizontal-spacing : 0px;
        -webkit-border-start-color : rgb(255, 255, 255);
        -webkit-border-start-style : none;
        -webkit-border-start-width : 0px;
        -webkit-border-vertical-spacing : 0px;
        -webkit-box-align : stretch;
        -webkit-box-decoration-break : slice;
        -webkit-box-direction : normal;
        -webkit-box-flex : 0;
        -webkit-box-flex-group : 1;
        -webkit-box-lines : single;
        -webkit-box-ordinal-group : 1;
        -webkit-box-orient : horizontal;
        -webkit-box-pack : start;
        -webkit-box-reflect : none;
        -webkit-font-size-delta :;
        -webkit-font-smoothing : antialiased;
        -webkit-highlight : none;
        -webkit-hyphenate-character : auto;
        -webkit-line-clamp : none;
        -webkit-locale : "en";
        -webkit-logical-height : 30px;
        -webkit-logical-width : 30px;
        -webkit-margin-after : 0px;
        -webkit-margin-after-collapse : collapse;
        -webkit-margin-before : -15px;
        -webkit-margin-before-collapse : collapse;
        -webkit-margin-bottom-collapse : collapse;
        -webkit-margin-end : 0px;
        -webkit-margin-start : 0px;
        -webkit-margin-top-collapse : collapse;
        -webkit-mask-box-image-outset : 0px;
        -webkit-mask-box-image-repeat : stretch;
        -webkit-mask-box-image-slice : 0 fill;
        -webkit-mask-box-image-source : none;
        -webkit-mask-box-image-width : auto;
        -webkit-mask-clip : border-box;
        -webkit-mask-composite : source-over;
        -webkit-mask-image : none;
        -webkit-mask-origin : border-box;
        -webkit-mask-position-x : 0%;
        -webkit-mask-position-y : 0%;
        -webkit-mask-repeat-x :;
        -webkit-mask-repeat-y :;
        -webkit-mask-size : auto;
        -webkit-max-logical-height : none;
        -webkit-max-logical-width : none;
        -webkit-min-logical-height : 0px;
        -webkit-min-logical-width : 0px;
        -webkit-padding-after : 0px;
        -webkit-padding-before : 0px;
        -webkit-padding-end : 0px;
        -webkit-padding-start : 0px;
        -webkit-perspective-origin-x :;
        -webkit-perspective-origin-y :;
        -webkit-print-color-adjust : economy;
        -webkit-rtl-ordering : logical;
        -webkit-ruby-position : before;
        -webkit-tap-highlight-color : rgba(0, 0, 0, 0);
        -webkit-text-combine : none;
        -webkit-text-decorations-in-effect : none;
        -webkit-text-emphasis-color : rgb(255, 255, 255);
        -webkit-text-emphasis-position : over right;
        -webkit-text-emphasis-style : none;
        -webkit-text-fill-color : rgb(255, 255, 255);
        -webkit-text-security : none;
        -webkit-text-stroke-color : rgb(255, 255, 255);
        -webkit-text-stroke-width : 0px;
        -webkit-transform-origin-x :;
        -webkit-transform-origin-y :;
        -webkit-transform-origin-z :;
        -webkit-user-drag : auto;
        -webkit-user-modify : read-only;
        -webkit-border-image : none;
        -webkit-text-orientation : vertical-right;
    }
    
    .quantity{
        align-items: normal;
        align-self: auto;
        alignment-baseline: auto;
        all:;
        animation-delay: 0s;
        animation-direction: normal;
        animation-duration: 0s;
        animation-fill-mode: none;
        animation-iteration-count: 1;
        animation-name: none;
        animation-play-state: running;
        animation-timing-function: ease;
        backface-visibility: visible;
        background-attachment: scroll;
        background-blend-mode: normal;
        background-clip: border-box;
        background-color: rgb(47, 200, 63);
        #2fc83f.count-input2 input[type=text]:not(.browser-default) transparentinput:not([type]),
        input[type=text]:not(.browser-default),
        input[type=password]:not(.browser-default),
        input[type=email]:not(.browser-default),
        input[type=url]:not(.browser-default),
        input[type=time]:not(.browser-default),
        input[type=date]:not(.browser-default),
        input[type=datetime]:not(.browser-default),
        input[type=datetime-local]:not(.browser-default),
        input[type=tel]:not(.browser-default),
        input[type=number]:not(.browser-default),
        input[type=search]:not(.browser-default),
        textarea.materialize-textarea rgb(238, 238, 238).count-input2 input whiteinput background-image: none;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat-x:;
        background-repeat-y:;
        background-size: auto;
        baseline-shift: 0px;
        block-size: 30px;
        border-bottom-color: rgb(238, 238, 238);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-collapse: separate;
        border-image-outset: 0px;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(238, 238, 238);
        border-left-style: solid;
        border-left-width: 1px;
        border-right-color: rgb(238, 238, 238);
        border-right-style: solid;
        border-right-width: 1px;
        border-top-color: rgb(238, 238, 238);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-top-style: solid;
        border-top-width: 1px;
        bottom: auto;
        box-shadow: none;
        box-sizing: content-box;
        break-after: auto;
        break-before: auto;
        break-inside: auto;
        buffered-rendering: auto;
        caption-side: top;
        caret-color: rgb(255, 255, 255);
        clear: none;
        clip: auto;
        clip-path: none;
        clip-rule: nonzero;
        color: rgb(255, 255, 255);
        color-interpolation: sRGB;
        color-interpolation-filters: linearRGB;
        color-rendering: auto;
        column-count: auto;
        column-fill: balance;
        column-gap: normal;
        column-rule-color: rgb(255, 255, 255);
        column-rule-style: none;
        column-rule-width: 0px;
        column-span: none;
        column-width: auto;
        contain: none;
        content:;
        counter-increment: none;
        counter-reset: none;
        cursor: default;
        cx: 0px;
        cy: 0px;
        d: none;
        direction: ltr;
        display: inline-block;
        dominant-baseline: auto;
        empty-cells: show;
        fill: rgb(0, 0, 0);
        fill-opacity: 1;
        fill-rule: nonzero;
        filter: none;
        flex-basis: auto;
        flex-direction: row;
        flex-grow: 0;
        flex-shrink: 1;
        flex-wrap: nowrap;
        float: none;
        flood-color: rgb(0, 0, 0);
        flood-opacity: 1;
        font-family: DroidKufi-RegularEN;
        font-feature-settings: normal;
        font-kerning: auto;
        font-size: 18px;
        font-stretch: 100%;
        font-style: normal;
        font-variant-caps: normal;
        font-variant-east-asian: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
        font-variation-settings: normal;
        font-weight: 400;
        grid-auto-columns: auto;
        grid-auto-flow: row;
        grid-auto-rows: auto;
        grid-column-end: auto;
        grid-column-gap: 0px;
        grid-column-start: auto;
        grid-row-end: auto;
        grid-row-gap: 0px;
        grid-row-start: auto;
        grid-template-areas: none;
        grid-template-columns: none;
        grid-template-rows: none;
        height: 30px;
        hyphens: manual;
        image-rendering: auto;
        inline-size: 142.5px;
        isolation: auto;
        justify-content: normal;
        justify-items: normal;
        justify-self: auto;
        left: auto;
        letter-spacing: normal;
        lighting-color: rgb(255, 255, 255);
        line-break: auto;
        line-height: 25.7143px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: disc;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        marker-end: none;
        marker-mid: none;
        marker-start: none;
        mask: none;
        mask-type: luminance;
        max-block-size: none;
        max-height: none;
        max-inline-size: none;
        max-width: none;
        min-block-size: 0px;
        min-height: 0px;
        min-inline-size: 0px;
        min-width: 0px;
        mix-blend-mode: normal;
        object-fit: fill;
        object-position: 50% 50%;
        offset-distance: 0px;
        offset-path: none;
        offset-rotate: auto 0deg;
        opacity: 1;
        order: 0;
        orphans: 2;
        outline-color: rgb(255, 255, 255);
        outline-offset: 0px;
        outline-style: none;
        outline-width: 0px;
        overflow-anchor: auto;
        overflow-wrap: normal;
        overflow-x: visible;
        overflow-y: visible;
        overscroll-behavior-x: auto;
        overscroll-behavior-y: auto;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        page:;
        paint-order: fill stroke markers;
        perspective: none;
        perspective-origin: 72.25px 21px;
        pointer-events: auto;
        position: static;
        quotes:;
        r: 0px;
        resize: none;
        right: auto;
        rx: auto;
        ry: auto;
        scroll-behavior: auto;
        shape-image-threshold: 0;
        shape-margin: 0px;
        shape-outside: none;
        shape-rendering: auto;
        size:;
        speak: normal;
        stop-color: rgb(0, 0, 0);
        stop-opacity: 1;
        stroke: none;
        stroke-dasharray: none;
        stroke-dashoffset: 0px;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        stroke-miterlimit: 4;
        stroke-opacity: 1;
        stroke-width: 1px;
        tab-size: 8;
        table-layout: auto;
        text-align: center;
        text-align-last: auto;
        text-anchor: start;
        text-combine-upright: none;
        text-decoration-color: rgb(255, 255, 255);
        text-decoration-line: none;
        text-decoration-skip-ink: auto;
        text-decoration-style: solid;
        text-indent: 0px;
        text-orientation: mixed;
        text-overflow: clip;
        text-rendering: auto;
        text-shadow: none;
        text-size-adjust: 100%;
        text-transform: none;
        text-underline-position: auto;
        top: auto;
        touch-action: auto;
        transform: none;
        transform-box: view-box;
        transform-origin: 72.25px 21px;
        transform-style: flat;
        transition-delay: 0s;
        transition-duration: 0.3s;
        transition-property: all;
        transition-timing-function: ease;
        unicode-bidi: normal;
        user-select: auto;
        vector-effect: none;
        vertical-align: baseline;
        visibility: visible;
        white-space: normal;
        widows: 2;
        width: 142.5px;
        will-change: auto;
        word-break: normal;
        word-spacing: 0px;
        word-wrap: normal;
        writing-mode: horizontal-tb;
        x: 0px;
        y: 0px;
        z-index: auto;
        zoom: 1;
        -webkit-app-region: no-drag;
        -webkit-appearance: none;
        -webkit-border-after-color: rgb(238, 238, 238);
        -webkit-border-after-style: solid;
        -webkit-border-after-width: 1px;
        -webkit-border-before-color: rgb(238, 238, 238);
        -webkit-border-before-style: solid;
        -webkit-border-before-width: 1px;
        -webkit-border-end-color: rgb(238, 238, 238);
        -webkit-border-end-style: solid;
        -webkit-border-end-width: 1px;
        -webkit-border-horizontal-spacing: 0px;
        -webkit-border-start-color: rgb(238, 238, 238);
        -webkit-border-start-style: solid;
        -webkit-border-start-width: 1px;
        -webkit-border-vertical-spacing: 0px;
        -webkit-box-align: stretch;
        -webkit-box-decoration-break: slice;
        -webkit-box-direction: normal;
        -webkit-box-flex: 0;
        -webkit-box-flex-group: 1;
        -webkit-box-lines: single;
        -webkit-box-ordinal-group: 1;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: start;
        -webkit-box-reflect: none;
        -webkit-font-size-delta:;
        -webkit-font-smoothing: antialiased;
        -webkit-highlight: none;
        -webkit-hyphenate-character: auto;
        -webkit-line-clamp: none;
        -webkit-locale: "en";
        -webkit-logical-height: 30px;
        -webkit-logical-width: 142.5px;
        -webkit-margin-after: 20px;
        -webkit-margin-after-collapse: collapse;
        -webkit-margin-before: 0px;
        -webkit-margin-before-collapse: collapse;
        -webkit-margin-bottom-collapse: collapse;
        -webkit-margin-end: 0px;
        -webkit-margin-start: 0px;
        -webkit-margin-top-collapse: collapse;
        -webkit-mask-box-image-outset: 0px;
        -webkit-mask-box-image-repeat: stretch;
        -webkit-mask-box-image-slice: 0 fill;
        -webkit-mask-box-image-source: none;
        -webkit-mask-box-image-width: auto;
        -webkit-mask-clip: border-box;
        -webkit-mask-composite: source-over;
        -webkit-mask-image: none;
        -webkit-mask-origin: border-box;
        -webkit-mask-position-x: 0%;
        -webkit-mask-position-y: 0%;
        -webkit-mask-repeat-x:;
        -webkit-mask-repeat-y:;
        -webkit-mask-size: auto;
        -webkit-max-logical-height: none;
        -webkit-max-logical-width: none;
        -webkit-min-logical-height: 0px;
        -webkit-min-logical-width: 0px;
        -webkit-padding-after: 10px;
        -webkit-padding-before: 0px;
        -webkit-padding-end: 0px;
        -webkit-padding-start: 0px;
        -webkit-perspective-origin-x:;
        -webkit-perspective-origin-y:;
        -webkit-print-color-adjust: economy;
        -webkit-rtl-ordering: logical;
        -webkit-ruby-position: before;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-text-combine: none;
        -webkit-text-decorations-in-effect: none;
        -webkit-text-emphasis-color: rgb(255, 255, 255);
        -webkit-text-emphasis-position: over right;
        -webkit-text-emphasis-style: none;
        -webkit-text-fill-color: rgb(255, 255, 255);
        -webkit-text-security: none;
        -webkit-text-stroke-color: rgb(255, 255, 255);
        -webkit-text-stroke-width: 0px;
        -webkit-transform-origin-x:;
        -webkit-transform-origin-y:;
        -webkit-transform-origin-z:;
        -webkit-user-drag: auto;
        -webkit-user-modify: read-only;
        -webkit-border-image: none;
        -webkit-text-orientation: vertical-right;
    
    }